<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}" lang="en">
<head>
  <div layout:fragment="metadata">
  <link th:href="@{/styles/styles.css}" rel="stylesheet" />

  <title>Sports API</title>
  <style>
    table, td, th {
      border: 1px solid white;
    }
    td, th {
      text-align:right;
    }
    td:first-child, th:first-child {
      text-align: left;
    }
  </style>
  </div>
</head>

<body class="ns-bg">
<div layout:fragment="content">
<h1 style="text-align: center; margin-top: 1%"><strong id=>RapidAPI</strong></h1>
<form style="text-align: center" action="" method="GET" id="refreshpage">
  <button>Refresh!</button>
</form>

<center>
  <div class="container-fluid">
    <div class="ns-card">
      <h1>Articles on Sports News</h1>
      <table>
        <tr>
          <th>Title</th>
          <th>Source</th>
        </tr>
        <tr th:each="source: ${data}">
<!--          <td th:text="${source.title}"></td>-->
<!--          <td th:text="${source.source}" th:href="${source.url}"></td>-->
        </tr>
      </table>
    </div>
  </div>
</center>
</div>

<style>
  table{
    width: 100%;
    font-size: 20px;
  }

  th{
    width: 400px;
    text-align: left;
  }

  td{
    width: 400px;
    text-align: left;
  }
</style>
</body>
</html>