<!DOCTYPE HTML>

<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- Page specific head additions -->
        <title>About Arch</title>
        <div layout:fragment="script" th:remove="tag">

            <script>
                async function getLanguage() {
                    const response = await fetch("https://google-translate1.p.rapidapi.com/language/translate/v2/languages", {
                        "method": "GET",
                        "headers": {
                            "accept-encoding": "application/gzip",
                            "x-rapidapi-host": "google-translate1.p.rapidapi.com",
                            "x-rapidapi-key": "3c101db5femsh08170f558691f17p1b06d8jsn014526dedbe0"
                        }
                    })
                    console.log(response);
                    const language = await response.text();
                    document.getElementById("languageId").innerHTML = language;
                }
                getLanguage();
            </script>
        </div>
    </div>
</head>>

<!-- <body> -->
<!-- Page specific body additions -->
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="contact" style="min-height: 100vh;">



        <style>
            body {
                background-image: url('https://wallpaperaccess.com/full/193864.jpg');
            }
        </style>

        <h4>Google Translate API</h4>
        <div id="languageId"></div>


    </div>
</div>
</body>

<!-- End of body content specific to page -->
</div>

</html>