<!DOCTYPE HTML>

<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

 <head>
     <div layout:fragment="metadata" th:remove="tag">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
               integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
               crossorigin="anonymous">

     <!-- Page specific head additions -->
    <title>About Arch</title>
         <div layout:fragment="script" th:remove="tag">
         <script>
        function Mask1(){
            document.getElementById('myImage').src="/images/maskedArch.jpeg";
            document.getElementById('message')
        }

        function Mask2(){
            document.getElementById('myImage').src="/images/archnomask.jpg";
            document.getElementById('message')
        }
    </script>
     </div>
     </div>
 </head>

<!-- <body> -->
    <!-- Page specific body additions -->
    <body>
    <div layout:fragment="content" th:remove="tag">
        <div class="contact" style="min-height: 100vh;">
            <style>
                body {
                    background-image: url('https://wallpaperaccess.com/full/193864.jpg');
                }
            </style>

            <div class="container p-3 my-3 text-black rounded">

            <div class="button">
                <button class="btn btn-warning" onclick="location.href='/individual/AHuang/Unit4'">
                    Unit 4 FRQ
                </button>
            </div>

            <br>

    <div class=imageContainer>
        <img  id="myImage"
              src="/images/maskedArch.jpeg" width="530" height="300"/>
    </div>
    <div class="button">
        <button class="btn btn-info" onclick=Mask1();>
            Mask
        </button>
        <button  class="btn btn-info" onclick=Mask2();>
            No Mask
        </button>
    </div>

    <br>

        <div class="button">
            <button class="btn btn-success" onclick="location.href='/individual/AHuang/RapidAPI'">
                Rapid API
            </button>
        </div>
    </div>
    </div>
    </div>
    </body>

    <!-- End of body content specific to page -->
</div>

</html>