<!DOCTYPE HTML>

<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

 <head>
     <div layout:fragment="metadata" th:remove="tag">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
               integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
               crossorigin="anonymous">

     <!-- Page specific head additions -->
    <title>About Arch</title>
         <div layout:fragment="script" th:remove="tag">
         <script>
        function Mask1(){
            document.getElementById('myImage').src="/images/maskedArch.jpeg";
            document.getElementById('message')
        }

        function Mask2(){
            document.getElementById('myImage').src="/images/archnomask.jpg";
            document.getElementById('message')
        }
    </script>
    <script>
        function openTest() {
            document.getElementById("link").style.display = "block";
            document.getElementById('message')
        }
    </script>
             </div>
         <div layout:fragment="script" th:remove="tag">

         <script>
        async function getLanguage() {
            const response = await fetch("https://google-translate1.p.rapidapi.com/language/translate/v2/languages", {
                "method": "GET",
                "headers": {
                    "accept-encoding": "application/gzip",
                    "x-rapidapi-host": "google-translate1.p.rapidapi.com",
                    "x-rapidapi-key": "3c101db5femsh08170f558691f17p1b06d8jsn014526dedbe0"
                }
            })
            console.log(response);
            const language = await response.text();
            document.getElementById("languageId").innerHTML = language;
        }
        getLanguage();
    </script>
             </div>
     </div>
 </head>>

<!-- <body> -->
    <!-- Page specific body additions -->
    <body>
    <div layout:fragment="content" th:remove="tag">
        <div class="contact" style="min-height: 100vh;">



        <style>
        body {
            background-image: url('https://cdn.wallpapersafari.com/93/58/GS1pCE.jpg');
        }
    </style>

    <div class=imageContainer>
        <img  id="myImage"
              src="/images/maskedArch.jpeg" width="530" height="300"/>
    </div>
    <div class="button">
        <button class="btn btn-info" onclick=Mask1();>
            Mask
        </button>
        <button  class="btn btn-info" onclick=Mask2();>
            No Mask
        </button>
    </div>

    <br>

    <div class="button">
        <button class="btn btn-warning" onclick="openTest()">
            Reveal Journal
        </button>
    </div>

    <div id="link" style="display:none">
        <a href="https://docs.google.com/document/d/1em_jarWLRf7CYE-5v51hX0MLGqWXDoDfaWKtYXLEFfI/edit?usp=sharing">
            <embed type="image/jpg" src="https://www.apkmirror.com/wp-content/uploads/2021/11/02/61a6ab7f73e1f-384x384.png"
                   width="160" height="160"></a>
    </div>

    <h4>Google Translate API</h4>
    <div id="languageId"></div>

    <div class="button">
        <button class="btn btn-success" onclick="location.href='/individual/aboutArch/drawArch'">
            Javascript Draw - Arch
        </button>
    </div>
    </div>
    </div>


    <div id="unit2FRQ">
        <h4><strong>Unit 2 FRQ</strong></h4><br>
        <div>
            <p>
                LightSequence gradShow = new LightSequence("0101 0101 0101"); //1a
                <br>
                gradShow.display(); //1b
                <br>
                gradShow.changeSequence("0011 0011 0011"); //1c
                <br>
                String resultSeq = gradShow.insertSegment("1111 1111", 4); //1d
                <br>
                public String cutSegment(String oldSeq, String segment) {<br>
                String newSeq = oldSeq.replaceFirst(segment, "");<br>
                return newSeq;<br>
                }
                <br>
                String newSeq = oldSeq.replaceFirst(segment, ""); //1e
                <br>
                double c = Math.sqrt(Math.pow(a, 2) + Math.pow(b, 2)); //1f
                <br>
            </p>
            <h4><strong>Java Output:</strong></h4><br>
        </div>
    </div>


    <div id="unit3FRQ">
        <h4><strong>Unit 3 FRQ</strong></h4><br>
    </div>

    </body>

    <!-- End of body content specific to page -->
</div>

</html>