<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
  lang="en">

<head>
  <div layout:fragment="metadata" th:remove="tag">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Akshay R | About</title>

    <style>
      .lab-container {
        width: 50vw;
        border: 1px solid #E3DDF4;
        padding: 15px;
        border-radius: 8px;
        background-color: #313131;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin: auto !important;
        margin-top: 4vh !important;
      }

      h4 {
        color: white;
      }

      h5 {
        color: black;
        font-size: 25px;
      }

      p {
        color: white;
      }

      .code {
        font-family: MyFancyCustomFont, monospace;
        font-size: inherit;
      }

      p>code,
      li>code,
      dd>code,
      td>code {
        background: #ffeff0;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
      }

      .photoContainer {
        left: 6px;
        position: absolute;
        width: 20vw;

      }
    </style>
  </div>
</head>

<body onload="fetchFRQs()">
  <div layout:fragment="content" th:remove="tag">
    <div class="contact" style="min-height: 100vh;">
      <div class="photoContainer">
        <a class="image" style="width:200px">
          <img id="akshayImage" src="/images/unmaskedAkshay.jpg" alt="Akshay R Image" height="300">
        </a>
        <h5><strong>Akshay Rohatgi | Design Manager</strong></h5>
        <button onclick="toggleMask()">Toggle Mask</button> <br>

        <a href="https://github.com/Akshay-Rohatgi">
          <img src="https://ih1.redbubble.net/image.1661355582.0011/st,small,507x507-pad,600x600,f8f8f8.jpg"
            style="width:250px;height:250px">
        </a>

        <a href="https://docs.google.com/document/d/1POt5ZSdOPzYuAI8J54k6qnc46Kh_qY2FMQ_UjWkgQ9c/edit?usp=sharing">
          <img
            src="https://cdn4.iconfinder.com/data/icons/web-development/512/notebook_notepad_journal_book_report_guide_manual_flat_icon_symbol-512.png"
            style="width:250px;height:250px">
        </a>

      </div>

      <div class="row justify-content-center lab-container">
        <h4><u>Akshay Rohatgi: About Me and Individual Technicals </u></h4>
        <h4><strong>Table of Contents</strong></h4><br>
        <a href="#aboutMe">Item #1: About Me</a>
        <a href="#unit2FRQ">Item #2: Unit 2 FRQ</a>
        <a href="#unit3FRQ">Item #3: Unit 3 FRQ</a>
        <a href="#unit3p2FRQ">Item #4: Unit 3 FRQ part 2</a>


      </div>

      <div id="aboutMe" class="row justify-content-center lab-container">
        <h4><strong>Item #1: About Me</strong></h4><br>
        <p>Hello, my name is Akshay Rohatgi. I'm a highschool student with a passion for computer science and
          cybersecurity.</p>

      </div>

      <div id="aboutMe" class="row justify-content-center lab-container">
        <h4><strong>Quotes API</strong></h4><br>
        <button onclick="getQuote()">Get Random Quote!</button> <br>
        <p id="quote_result"></p>

      </div>

      <div id="unit2FRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #2: Unit 2 FRQ</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit2"></p></code>
        </div>
        <form action="javascript:updateFRQ(`2`)">

          <input class="inputBox" type="text" align="center" placeholder="Initial Sequence" id="initialSeq">
          <input class="inputBox" type="text" align="center" placeholder="Changed Sequence" id="changedSeq">
          <input class="inputBox" type="text" align="center" placeholder="Inserted Segment" id="insertedSeg">
          <input class="inputBox" type="text" align="center" placeholder="A Value" id="aValue">
          <input class="inputBox" type="text" align="center" placeholder="B Value" id="bValue"> <br>
          <input class="changeBtn" type="submit">

        </form>
        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit2"></p></code>
        </div>

      </div>

      <div id="unit3FRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #3: Unit 3 FRQ</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit3"></p></code>
        </div>
        <form action="javascript:updateFRQ(`3`)">

          <input class="inputBox" type="text" align="center" placeholder="RSVP" id="rsvp">
          <input class="inputBox" type="text" align="center" placeholder="Selection" id="selection">
          <input class="inputBox" type="text" align="center" placeholder="Option 1" id="option1">
          <input class="inputBox" type="text" align="center" placeholder="Option 2" id="option2">
          <input class="changeBtn" type="submit">

        </form>
        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit3"></p></code>
        </div>

      </div>

      <div id="unit3p2FRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #4: Unit 3 FRQ part 2</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit3p2"></p></code>
        </div>
        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit3p2"></p><a href="https://nighthawkrecruiting.tk/frqs/Unit3/Arohatgi2.txt">here</a>
          </code>
        </div>

      </div>

      <div id="unit4FRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #5: Unit 4 FRQ Question 1</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit4A"></p></code>
        </div>

        <form action="javascript:updateFRQ(`4A`)">

          <input class="inputBox" type="text" align="center" placeholder="String" id="str">
          <input class="changeBtn" type="submit">

        </form>

        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit4A"></p></code>
        </div>
    </div>

      <div id="unit4BFRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #6: Unit 4 FRQ Question 2</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit4B"></p></code>
        </div>


      </div>

      <div id="unit5FRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #7: Unit 5 FRQ Question 1</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit5A"></p></code>
        </div>

        <form action="javascript:updateFRQ(`5A`)">

          <input class="inputBox" type="text" align="center" placeholder="Host name" id="hostname">
          <input class="inputBox" type="text" align="center" placeholder="Address" id="address">
          <input class="inputBox" type="text" align="center" placeholder="Invitee" id="invitee">
          <input class="changeBtn" type="submit">

        </form>

        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit5A"></p></code>
        </div>
      </div>

      <div id="unit5BFRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #8: Unit 5 FRQ Question 2</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit5B"></p></code>
        </div>

        <form action="javascript:updateFRQ(`5B`)">

          <input class="inputBox" type="text" align="center" placeholder="prefix" id="prefix">
          <input class="inputBox" type="text" align="center" placeholder="Num of digits" id="num">
          <input class="changeBtn" type="submit">

        </form>

        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit5B"></p></code>
        </div>
      </div>

      <div id="unit6AFRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #9: Unit 6 FRQ Question 1</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit6A"></p></code>
        </div>

        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit6A"></p></code>
        </div>
      </div>

      <div id="unit6BFRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #10: Unit 6 FRQ Question 2</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit6B"></p></code>
        </div>

        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit6B"></p></code>
        </div>
      </div>

      <div id="unit7FRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #11: Unit 7 FRQ</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit7"></p></code>
        </div>

        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit7"></p></code>
        </div>
      </div>

  </div>


</body>


<div layout:fragment="script" th:remove="tag">
  <!-- Start of custom script specific to page -->
  <script src="/static/vanta/three.r119.min.js" th:src="@{/vanta/three.r119.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.net.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

    function getQuote() {
      axios({
        method: "GET",
        url: "https://programming-quotes-api.herokuapp.com/quotes/random"
      }).then(resp => {
        console.log(resp.data)
        console.log(resp.data.en)
        document.getElementById("quote_result").innerText = resp.data.en;
      })
    }

    function updateFRQ(frq) {
      // Unit 2
      if(frq == "2") {
        var initial = document.getElementById("initialSeq").value;
        var changed = document.getElementById("changedSeq").value;
        var inserted = document.getElementById("insertedSeg").value;
        var aVal = document.getElementById("aValue").value;
        var bVal = document.getElementById("bValue").value;


        axios({
          method: "GET",
          url: `/frqCustomAPIUnit2Akshay?initial=${initial}&changed=${changed}&inserted=${inserted}&aVal=${aVal}&bVal=${bVal}`
        }).then(resp => {
          console.log(resp.data)
          document.getElementById("frqCodeOutputUnit2").innerText = resp.data[0] + "\n" + resp.data[1] + "\n" + resp.data[2];


        })
      }
      // Unit 3
      if(frq == "3") {
        var rsvp = document.getElementById("rsvp").value;
        var selection = document.getElementById("selection").value;
        var option1 = document.getElementById("option1").value;
        var option2 = document.getElementById("option2").value;


        axios({
          method: "GET",
          url: `/frqCustomAPIUnit3Akshay?rsvp=${rsvp}&selection=${selection}&option1=${option1}&option2=${option2}`
        }).then(resp => {
          console.log(resp.data)
          document.getElementById("frqCodeOutputUnit3").innerText = resp.data[0] + "\n" + resp.data[1] + "\n" + resp.data[2] + "\n" + resp.data[3];


        })
      }

      if(frq == "4A") {
        console.log("adsfadsf")
        var string = document.getElementById("str").value;

        axios({
          method: "GET",
          url: `/frqCustomAPIUnit4AAkshay?str=${string}`
        }).then(resp => {
          console.log(resp.data)
          document.getElementById("frqCodeOutputUnit4A").innerText = resp.data[0] + "\n";


        })
      }

      if(frq == "5A") {
        var hostname = document.getElementById("hostname").value;
        var address = document.getElementById("address").value;
        var invitee = document.getElementById("invitee").value;


        axios({
          method: "GET",
          url: `/frqCustomAPIUnit5AAkshay?hostname=${hostname}&address=${address}&invitee=${invitee}`
        }).then(resp => {
          console.log(resp.data)
          document.getElementById("frqCodeOutputUnit5A").innerText = resp.data[0] + "\n" + resp.data[1] + "\n" + resp.data[2];
        })
      }

      if(frq == "5B") {
        var prefix = document.getElementById("prefix").value;
        var num = document.getElementById("num").value;


        axios({
          method: "GET",
          url: `/frqCustomAPIUnit5BAkshay?prefix=${prefix}&num=${num}`
        }).then(resp => {
          console.log(resp.data)
          document.getElementById("frqCodeOutputUnit5B").innerText = resp.data[0] + "\n" + resp.data[1];
        })
      }

    }
    // Unit 4A

    function fetchFRQs() {

      // Unit 2
      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=2"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if (i == 0) {
            document.getElementById("frqResultUnit2").innerText = resp.data[i];
          } else {
            document.getElementById("frqCodeOutputUnit2").innerText = resp.data[1] + "\n" + resp.data[2] + "\n" + resp.data[3];
          }
        }
      })

      // Unit 3

      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=3"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if (i == 0) {
            document.getElementById("frqResultUnit3").innerText = resp.data[i];
          } else {
            document.getElementById("frqCodeOutputUnit3").innerText = resp.data[1] + "\n" + resp.data[2] + "\n" + resp.data[3];
          }
        }
      })

      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=40"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit4A").innerText = resp.data[i];
          } else {
          }
        }
      })

      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=41"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit4B").innerText = resp.data[i];
          } else {
          }
        }
      })

      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=50"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit5A").innerText = resp.data[i];
          } else {
          }
        }
      })

      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=51"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit5B").innerText = resp.data[i];
          } else {
          }
        }
      })

      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=60"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit6A").innerText = resp.data[i];
          } else {
          }
        }
      })

      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=61"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit6B").innerText = resp.data[i];
          } else {
          }
        }
      })

      axios({
        method: "GET",
        url: "/frqAPI?name=ARohatgi&frqUnit=7"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit7").innerText = resp.data[i];
          } else {
          }
        }
      })


    }


    function toggleMask() {
      let srcCheck = document.getElementById("akshayImage").src;
      if (srcCheck.includes("unmasked")) {
        document.getElementById("akshayImage").src = "/images/maskedAkshay.jpg";
      } else {
        document.getElementById("akshayImage").src = "/images/unmaskedAkshay.jpg";
      }
    }
  </script>
</div>

</html>