<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
    lang="en">
<!-- <head> -->

<head>
    <title>Home | Nighthawk Recruiting</title>
</head>

<!-- <body> -->

<body>
    <div layout:fragment="content" th:remove="tag">
        <div class="main">
            <p class="sign" align="center">BMI Calculator</p>
            <form class="form1">
                <input id="weight" class="un" type="number" align="center" placeholder="weight">
                <input id="height" class="un" type="number" align="center" placeholder="height">
                <a onclick="calculate_bmi()" class="submit" align="center">Calculate!</a>
                <p class="res" id="result">BMI: 00.00</p>
        </div>
    </div>
</body>

<div layout:fragment="script" th:remove="tag">
    <script>
        function calculate_bmi() {
            var weight = document.getElementById("weight").value;
            var height = document.getElementById("height").value;
            var bmi = ((weight/(height*height))*703).toFixed(2);
            console.log("BMI: " + bmi);
            document.getElementById("result").innerHTML = "BMI: " + bmi;
        }
    </script>
</div>

</html>

