<!-- This page is illustrative and contains ideas about HTML formatting -->
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
  lang="en">
<!-- <head> -->

<head>
  <title>Home | Nighthawk Recruiting</title>
</head>

<!-- <body> -->

<body>
  <div layout:fragment="content" th:remove="tag">
      <div class="main">
        <p class="sign" align="center">Sign in</p>
        <form class="form1">
            <input class="un " type="text" align="center" placeholder="Username">
            <input class="pass" type="password" align="center" placeholder="Password">
            <a class="submit" align="center">Sign in</a>
        </div>
         
  </div>
</body>

</html>