<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
  <div layout:fragment="metadata" th:remove="tag">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Nolan P | About</title>

    <style>
      .lab-container {
        width: 50vw;
        border: 1px solid #E3DDF4;
        padding: 15px;
        border-radius: 8px;
        background-color: #313131;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin: auto !important;
        margin-top: 4vh !important;
      }

      h4 {
        color: white;
      }
      h5 {
        color: black;
        font-size: 25px;
      }

      p {
        color: white;
      }
      .code {
        font-family: MyFancyCustomFont, monospace;
        font-size: inherit;
      }

      p > code,
      li > code,
      dd > code,
      td > code {
        background: #ffeff0;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
      }

      .photoContainer {
        left: 6px;
        position:absolute;
        width: 20vw;

      }
      .inputBox {
        width: 120%;
      }
      .changeBtn {
        text-decoration: none;
        padding: 15px 25px;
        border-radius: 4px;
        box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
        background: #24292e;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 16px;
        text-align: center;
        transition: all .3s ease-in-out;
      }
      .button {
        display: inline-block;
        margin-top: 20px;
      }



    </style>
  </div>
</head>

<body onload="fetchFRQs()">
<div layout:fragment="content" th:remove="tag">
  <div class="contact" style="min-height: 100vh;">
    <div class="photoContainer">
      <a class="image" style="width:200px">
        <img id="nolanImage"  src="/images/unmaskednolan.png" alt="Nolan P Image"  height="300">
      </a>
      <h5><strong>Nolan Platt | Github Admin</strong></h5>
      <button onclick="toggleMask()">Toggle Mask</button> <br>

      <a href="https://github.com/nolanplatt">
        <img src="https://mpng.subpng.com/20180320/cfw/kisspng-computer-icons-github-github-logo-save-icon-format-5ab0fad1349631.6791503015215479852154.jpg" style="width:130px;height:50px">
      </a>

      <a href="https://docs.google.com/document/d/1t9ekir1K0GmBIL0SIBatH0Q-bg6ndCrwc-QSujz6K84/edit?usp=sharing">
        <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Open_Book_Emoji_large.png?v=1571606064" style="width:130px;height:50px">
      </a>

    </div>

    <div class="row justify-content-center lab-container">
      <h4><u>Nolan Platt: About Me and Individual Technicals </u></h4>
      <h4><strong>Table of Contents</strong></h4><br>
      <a href="#aboutMe">Item #1: About Me</a>
      <a href="#unit2FRQ">Item #2: Unit 2 FRQ</a>
      <a href="#unit3FRQ">Item #3: Unit 3 FRQ</a>
      <a href="#extraCreditFRQ">Item #4: Extra Credit: 2014 AP CSA FRQs</a>
      <a href="#unit4FRQ">Item #5: Unit 4 FRQ</a>
      <a href="#unit5FRQ">Item #6: Unit 5 FRQ</a>
      <a href="#unit6FRQ">Item #7: Unit 6 FRQ</a>
      <a href="#unit7FRQ">Item #8: Unit 7 FRQ</a>

    </div>

    <div id="aboutMe" class="row justify-content-center lab-container">
      <h4><strong>Item #1: About Me</strong></h4><br>
      <p>Hello, my name is Nolan Platt. I am interested in computer science, electronics & aerospace.</p>

    </div>
    <div id="unit2FRQ" class="row justify-content-center lab-container">
      <h4><strong>Item #2: Unit 2 FRQ</strong></h4><br>

      <div class="code">
        <code><p id="frqResultUnit2"></p></code>
      </div>
      <form action="javascript:updateFRQ(`2`)">

      <input class="inputBox" type="text" align="center" placeholder="Initial Sequence" id="initialSeq">
      <input class="inputBox" type="text" align="center" placeholder="Changed Sequence" id="changedSeq">
      <input class="inputBox" type="text" align="center" placeholder="Inserted Segment" id="insertedSeg">
      <input class="inputBox" type="text" align="center" placeholder="A Value" id="aValue">
      <input class="inputBox" type="text" align="center" placeholder="B Value" id="bValue"> <br>
        <input class="changeBtn" type="submit">

      </form>
      <div class="output">
        <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
        <code><p id="frqCodeOutputUnit2"></p></code>
      </div>

    </div>

    <div id="unit3FRQ" class="row justify-content-center lab-container">
      <h4><strong>Item #3: Unit 3 FRQ</strong></h4><br>

      <div class="code">
        <code><p id="frqResultUnit3"></p></code>
      </div>
      <form action="javascript:updateFRQ(`3`)">
        <input class="inputBox" type="text" align="center" placeholder="RSVP" id="rsvp">
        <input class="inputBox" type="text" align="center" placeholder="Selection" id="selection">
        <input class="inputBox" type="text" align="center" placeholder="Option 1" id="option1">
        <input class="inputBox" type="text" align="center" placeholder="Option 2" id="option2">
        <input class="changeBtn" type="submit">
      </form>
      <div class="output">
        <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
        <code><p id="frqCodeOutputUnit3"></p></code>
      </div>

    </div>

    <div id="extraCreditFRQ" class="row justify-content-center lab-container">
      <h4><strong>Item #4: Extra Credit: AP 2014 FRQs</strong></h4><br>

      <div class="code">
        <code><p id="frqResultEC"></p></code>
      </div>
      <div class="output">
        <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
        <code><p id="frqCodeOutputEC"></p></code>
      </div>

    </div>
    <div id="unit4FRQ" class="row justify-content-center lab-container">
      <h4><strong>Item #5: Unit 4 FRQ</strong></h4><br>

      <div class="code">
        <code><p id="frqResultUnit4"></p></code>
      </div>
      <div class="output">
        <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
        <code><p id="frqCodeOutputUnit4"></p></code>
      </div>

    </div>

    <div id="unit5FRQ" class="row justify-content-center lab-container">
      <h4><strong>Item #6: Unit 5 FRQ</strong></h4><br>

      <div class="code">
        <code><p id="frqResultUnit5"></p></code>
      </div>
      <form action="javascript:updateFRQ(`5`)">

        <input class="inputBox" type="text" align="center" placeholder="Hostname" id="hostname">
        <input class="inputBox" type="text" align="center" placeholder="Address" id="address">
        <input class="inputBox" type="text" align="center" placeholder="Invitee" id="invitee">
        <input class="inputBox" type="text" align="center" placeholder="Prefix" id="prefix">
        <input class="inputBox" type="text" align="center" placeholder="Amount" id="amount">
        <input class="changeBtn" type="submit">

      </form>

      <div class="output">
        <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
        <code><p id="frqCodeOutputUnit5"></p></code>
      </div>
</div>
      <div id="unit6FRQ" class="row justify-content-center lab-container">
        <h4><strong>Item #7: Unit 6 FRQ</strong></h4><br>

        <div class="code">
          <code><p id="frqResultUnit6"></p></code>
        </div>
        <div class="output">
          <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
          <code><p id="frqCodeOutputUnit6"></p></code>

    </div>

        <div id="unit7FRQ" class="row justify-content-center lab-container">
          <h4><strong>Item #8: Unit 7 FRQ</strong></h4><br>

          <div class="code">
            <code><p id="frqResultUnit7"></p></code>
          </div>
          <div class="output">
            <p><strong>OUTPUT FROM JAVA FRQ CODE</strong></p>
            <code><p id="frqCodeOutputUnit7"></p></code>

          </div>


  </div>
</div>


</body>


<div layout:fragment="script" th:remove="tag">
  <!-- Start of custom script specific to page -->
  <script src="/static/vanta/three.r119.min.js" th:src="@{/vanta/three.r119.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.net.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
          integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

    function updateFRQ(frq) {
      // Unit 2
      if(frq == "2") {
        var initial = document.getElementById("initialSeq").value;
        var changed = document.getElementById("changedSeq").value;
        var inserted = document.getElementById("insertedSeg").value;
        var aVal = document.getElementById("aValue").value;
        var bVal = document.getElementById("bValue").value;


        axios({
          method: "GET",
          url: `/frqCustomAPIUnit2Nolan?initial=${initial}&changed=${changed}&inserted=${inserted}&aVal=${aVal}&bVal=${bVal}`
        }).then(resp => {
          console.log(resp.data)
          document.getElementById("frqCodeOutputUnit2").innerText = resp.data[0] + "\n" + resp.data[1] + "\n" + resp.data[2];


        })
      }
      // Unit 3
      if(frq == "3") {
        var rsvp = document.getElementById("rsvp").value;
        var selection = document.getElementById("selection").value;
        var option1 = document.getElementById("option1").value;
        var option2 = document.getElementById("option2").value;


        axios({
          method: "GET",
          url: `/frqCustomAPIUnit3Nolan?rsvp=${rsvp}&selection=${selection}&option1=${option1}&option2=${option2}`
        }).then(resp => {
          console.log(resp.data)
          document.getElementById("frqCodeOutputUnit3").innerText = resp.data[0] + "\n" + resp.data[1] + "\n" + resp.data[2] + "\n" + resp.data[3];
        })
      }
      // Unit 5
      if(frq == "5") {
        var hostname = document.getElementById("hostname").value;
        var address = document.getElementById("address").value;
        var invitee = document.getElementById("invitee").value;
        var prefix = document.getElementById("prefix").value;
        var amount = document.getElementById("amount").value;
        axios({
          method: "GET",
          url: `/frqCustomAPIUnit5Nolan?hostname=${hostname}&address=${address}&invitee=${invitee}&prefix=${prefix}&amount=${amount}`
        }).then(resp => {
          console.log(resp.data)
          document.getElementById("frqCodeOutputUnit5").innerText = resp.data[0] + "\n" + resp.data[1] + "\n" + resp.data[2] + "\n" + resp.data[3];
        })
      }
    }
    function fetchFRQs() {

      // Unit 2
      axios({
        method: "GET",
        url: "/frqAPI?name=NPlatt&frqUnit=2"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit2").innerText = resp.data[i];
          } else {
            document.getElementById("frqCodeOutputUnit2").innerText = resp.data[1] + "\n" + resp.data[2] + "\n" + resp.data[3];
          }
        }
      })

      // Unit 3

      axios({
        method: "GET",
        url: "/frqAPI?name=NPlatt&frqUnit=3"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit3").innerText = resp.data[i];
          } else {
            document.getElementById("frqCodeOutputUnit3").innerText = resp.data[1] + "\n" + resp.data[2] + "\n" + resp.data[3] + "\n" + resp.data[4];
          }
        }
      })

      // Unit 4

      axios({
        method: "GET",
        url: "/frqAPI?name=NPlatt&frqUnit=4"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit4").innerText = resp.data[i];
          } else {
          }
        }
      })

      // Unit 5

      axios({
        method: "GET",
        url: "/frqAPI?name=NPlatt&frqUnit=5"
      }).then(resp => {
        console.log(resp.data);
        for (let i = 0; i < resp.data.length; i++) {
          if(i == 0) {
            document.getElementById("frqResultUnit5").innerText = resp.data[i];
          } else {
          }
        }
      })

    // 2014 Extra Credit FRQs
    axios({
      method: "GET",
      url: "/frqAPI?name=NPlatt&frqUnit=0"
    }).then(resp => {
      console.log(resp.data);
      for (let i = 0; i < resp.data.length; i++) {
        if(i == 0) {
          document.getElementById("frqResultEC").innerText = resp.data[i];
        } else {
        //  document.getElementById("frqCodeOutputEC").innerText = resp.data[1] + "\n" + resp.data[2] + "\n" + resp.data[3] + "\n" + resp.data[4];
          document.getElementById("frqCodeOutputEC").innerText = "Q1 PART A: Recombine apple + pear: apar" + "\n" + "Q1 PART B: mixedWords [apple, pear, this, cat]: [apar, peple, that, cis] " + "\n" + "Q2 PART A: getPeakIndex [33, 22, 11]: -1" + "\n" + "Q2 PART B: isMountain [3, 2, 1]: false" + "\n" + "Q3 PART A: computeTemp(1, 3): 60.0" + "\n" + "Q3 PART B: updateAllTemps(0.01): false" + "\n" + "Q4 PART A: record(60): true" + "\n" + "Q4 PART B: recordScores(arr): no output (void)";
        }
      }
    })

    }
    function toggleMask() {
      let srcCheck = document.getElementById("nolanImage").src;
      if(srcCheck.includes("unmasked")) {
        document.getElementById("nolanImage").src = "/images/maskednolan.png";
      } else {
        document.getElementById("nolanImage").src = "/images/unmaskednolan.png";
      }
    }
  </script>
</div>

</html>