<!-- This page is illustrative and contains ideas about HTML formatting -->
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
      lang="en">
<!-- <head> -->

<head>
    <title>Player List | Nighthawk Recruiting</title>
</head>

<!-- <body> -->

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">

        <div class="row justify-content-md-center" style="margin-top:7%;">
            <h1>Player List</h1>
        </div>

        <table id="playerTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sport</th>
                    <th>Age</th>
                    <th>Recruited Status</th>
                    <th>Profile</th>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>
</body>

<div layout:fragment="script" th:remove="tag">
    <script>

        axios({
            method: "get",
            url: "/api/people/get",
            headers: { "Content-Type": "text/plain" }
        }).then(resp => {
            for (var i = 0; i < resp.data.length; i++) {

                var tableRef = document.getElementById('playerTable');
                var newRow = tableRef.insertRow(-1);

                var nameCell = newRow.insertCell(0);
                var name = document.createTextNode(resp.data[i].name);
                nameCell.appendChild(name);

                var sportCell = newRow.insertCell(1);
                var sport = document.createTextNode(resp.data[i].sport);
                sportCell.appendChild(sport);

                var ageCell = newRow.insertCell(2);
                var age = document.createTextNode(resp.data[i].age);
                ageCell.appendChild(age);


                var recruitCell = newRow.insertCell(3);
                if (resp.data[i].recruited) {
                    recruitCell.appendChild(document.createTextNode("recruited"));
                } else {
                    recruitCell.appendChild(document.createTextNode("not recruited"));
                }

                var profileCell = newRow.insertCell(4);
                var link = document.createElement('a');
                link.appendChild(document.createTextNode("player profile"))
                link.href = "/player/" + resp.data[i].id
                profileCell.appendChild(link);

            }

        });

    </script>
</div>

</html>