<!DOCTYPE html>

<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function hiJS() {
            document.getElementById("timer").innerHTML = "hi";
        }
        function byeJS() {
            document.getElementById("timer").innerHTML = "bye";
        }
    </script>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <div class="contact" style="min-height: 100vh;">

            <!--Start of body-->
            <div class="container p-3 my-3 bg-dark text-black rounded">
                <p id="timer">...</p>
                <br>
                <button class="btn btn-info" onclick=hiJS();>
                    hi
                </button>
                <br>
                <button class="btn btn-info" onclick=byeJS();>
                    bye
                </button>
            </div>

        </div>
    </div>
</body>
</html>