<!DOCTYPE html>

<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function hiJS() {
            document.getElementById("timer").innerHTML = "hi";
        }
        function byeJS() {
            document.getElementById("timer").innerHTML = "bye";
        }
        function setTimer() {
            document.getElementById("timer").innerHTML = "00:00";
        }
    </script>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <div class="contact" style="min-height: 100vh;">

            <!--Start of body-->
            <div class="container p-3 my-3 bg-dark text-black rounded">
                <div class="row p-3 my-3 bg-black text-light rounded">
                    <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >
                        <p id="home_score">...</p>
                    </div>

                    <div class="col-1"></div>

                    <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >
                        <p id="timer">...</p>
                    </div>

                    <div class="col-1"></div>

                    <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >
                        <p id="guest_score">...</p>
                    </div>

                    <div class="col-1"></div>

                    <div class="col-12"><br></div>
                    <div class="col-12"><br></div>
                    <div class="col-12"><br></div>

                    <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >
                        <p>Nothing here</p>
                    </div>

                    <div class="col-1"></div>

                    <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >
                        <button class="btn btn-info" onclick=hiJS();>
                            hi
                        </button>
                        <br>
                        <button class="btn btn-info" onclick=byeJS();>
                            bye
                        </button>
                    </div>

                    <div class="col-1"></div>

                    <div class="col-3 my-3 bg-light text-dark rounded" style="text-align: center" >
                        <p>Nothing here</p>
                    </div>

                    <div class="col-1"></div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>